@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

*{
    font-family: 'Poppins', sans-serif;
}

.login {
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    // padding-top: 15%;
    background-image: url("../../assets/bglogin.jpg");
    background-size: cover;
    position: relative;
    overflow: hidden;
  
    .up {
      position: absolute;
      left: -10%;
      top: -100px;
    }
  
    .down {
      position: absolute;
      bottom: -15%;
      right: -5%;
    }
  
    .left {
      height: 200px;
      position: absolute;
      top: 60%;
      left: -15%;
      z-index: 1;
      // filter: drop-shadow(10px 10px 10px #4c6997);
    }
  
    .right {
      // filter: drop-shadow(10px 10px 10px #4c6997);
      height: 200px;
      position: absolute;
      bottom: 65%;
      left: 70%;
      z-index: 1;
    }
  
    .login-container {
      // background-image: url('../../assets/background\ \(2\).jpg');
      background-size: cover;
      position: relative;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      // border: 2px solid;
      box-shadow: -8px -11px 39px -15px rgba(0, 0, 0, 0.75);
      box-shadow: 2px 2px 20px 0px rgb(54, 54, 54);
      // margin-top: 15%;
      width: 30%;
      padding: 30px 0;
      // z-index: 2;
      overflow: hidden;
      // height: 35vh;
  
      h1 {
        margin-bottom: 10px;
        font-size: 24px;
        margin-top: 10px;
        color: white;
      }
  
      input {
        width: 55%;
        padding: 8px;
        margin-top: 15px;
        margin-bottom: 10px;
        border-radius: 5px;
        border: 2px solid rgb(217, 214, 214);
        border: none;
      }
  
      button {
        margin-top: 20px;
        padding: 10px;
        width: 30%;
        border-radius: 20px;
        border: none;
        background-color: #368fd8;
        color: white;
        font-weight: 400;
        cursor: pointer;
      }
  
      span {
        margin-bottom: 10px;
        margin-top: 10px;
        color: white;
        z-index: 2;
      }
    }
  }
  